<!-- <section class="hero">
  <div class="container">
    <span class="subtitle">AI MEDIA MARKETPLACE FOR ADVERTISERS & AGENCIES</span>
    <h3 class="small-title">Bigger Impact</h3>
    <h1 class="title">
      Stronger Campaigns
    </h1>
    <p class="description">
      Smarter Media Buying
    </p>
    <div class="main">
      <div class="hero-image">
        <button class="cta-btn">
          Start now!
        </button>
        <img src="/header.png" alt="team work" />
        <button class="learn-btn">
          <span class="dot"></span>
          Learn More
        </button>
      </div>
    </div>
  </div>
</section> -->
<section class="hero">

  <!-- الخلفية -->
  <div class="hero-bg"></div>

  <div class="container">

    <!-- النص -->
    <div class="hero-content">
      <span class="subtitle">#1 MEDIA MARKETPLACE FOR ADVERTISERS & AGENCIES</span>

      <h3 class="small-title">Bigger Impact</h3>

      <h1 class="title">Stronger Campaigns</h1>

      <p class="desc">Smarter Media Buying</p>
    </div>

    <!-- الصورة -->
    <div class="hero-image">
      <img src="hero.jpg" alt="team work" />
<div class="btn-1">

  <button class="start-btn">Start your journey!</button>
</div>
<div class="btn-2">

      <button class="learn-btn">
        <span class="icon">⏺</span>
        Learn More
      </button>
    </div>
</div>

  </div>
</section>
